@import '../../Styles/mixin';
@import '../../Assets/Fonts/Gmarket.scss';

@include desktop {
    .map-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 63vw;
        &_button {
            background-image: url('../../Assets/Images/currentLocation.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border-radius: 50%;
            width: 3em;
            height: 3em;
            border: none;
            background-color: whitesmoke;
            box-shadow: 0px 1px 3px 1px #a3a3a365;
            margin-top: 30px;
            margin-left: 1em;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &_button:hover {
            transform: scale(1.06) rotate(180deg);
            box-shadow: none;
        }
        &_clearbutton {
            box-shadow: 0px 1px 3px 1px #a3a3a365;
            background-image: url('../../Assets/Images/reset_blue.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border-radius: 50%;
            width: 2.6em;
            height: 2.6em;
            border: none;
            background-color: transparent;
            margin-top: 32px;
            margin-left: .5em;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &_clearbutton:hover {
            transform: scale(1.06) rotate(180deg);
            box-shadow: none;
        }
        &_map {
            height: 73vh;
        }
        &_input {
            font-size: 15px;
            padding: 10px 30px 10px 30px;
            margin-top: 24px;
            width: 20em;
            height: 3.5em;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            border: none;
            border-radius: 16px;
            box-shadow: 2px 2px 3px 1px #a3a3a365;
            margin-left: 1em;
        }
        &_input:focus {
            outline-color: #5a9ef7;
        }
    }
}
@include desktopToLaptop {
    .map-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 66vw;
        &_button {
            background-image: url('../../Assets/Images/currentLocation.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border-radius: 50%;
            width: 3em;
            height: 3em;
            border: none;
            background-color: whitesmoke;
            box-shadow: 0px 1px 3px 1px #a3a3a365;
            margin-top: 30px;
            margin-left: 1em;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &_button:hover {
            transform: scale(1.06) rotate(180deg);
            box-shadow: none;
        }
        &_clearbutton {
            box-shadow: 0px 1px 3px 1px #a3a3a365;
            background-image: url('../../Assets/Images/reset_blue.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border-radius: 50%;
            width: 2.6em;
            height: 2.6em;
            border: none;
            background-color: transparent;
            margin-top: 32px;
            margin-left: .5em;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &_clearbutton:hover {
            transform: scale(1.06) rotate(180deg);
            box-shadow: none;
        }
        &_map {
            height: 67vh;
        }
        &_input {
            font-size: 15px;
            padding: 10px 30px 10px 30px;
            margin-top: 24px;
            width: 20em;
            height: 3.5em;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            border: none;
            border-radius: 16px;
            box-shadow: 2px 2px 3px 1px #a3a3a365;
            margin-left: 1em;
        }
        &_input:focus {
            outline-color: #5a9ef7;
        }
    }
}
@include laptop {
    .map-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80vw;
        &_button {
            background-image: url('../../Assets/Images/currentLocation.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border-radius: 50%;
            width: 3em;
            height: 3em;
            border: none;
            background-color: whitesmoke;
            box-shadow: 0px 1px 3px 1px #a3a3a365;
            margin-top: 30px;
            margin-left: 1em;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &_button:hover {
            transform: scale(1.06) rotate(180deg);
            box-shadow: none;
        }
        &_clearbutton {
            box-shadow: 0px 1px 3px 1px #a3a3a365;
            background-image: url('../../Assets/Images/reset_blue.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border-radius: 50%;
            width: 2.6em;
            height: 2.6em;
            border: none;
            background-color: transparent;
            margin-top: 32px;
            margin-left: .5em;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &_clearbutton:hover {
            transform: scale(1.06) rotate(180deg);
            box-shadow: none;
        }
        &_map {
            height: 40vh;
        }
        &_input {
            font-size: 15px;
            padding: 10px 30px 10px 30px;
            margin-top: 24px;
            width: 20em;
            height: 3.5em;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            border: none;
            border-radius: 16px;
            box-shadow: 2px 2px 3px 1px #a3a3a365;
            margin-left: 1em;
        }
        &_input:focus {
            outline-color: #5a9ef7;
        }
    }
}
@include laptopToTablet {
    .map-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80vw;
        &_button {
            background-image: url('../../Assets/Images/currentLocation.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border-radius: 50%;
            width: 3em;
            height: 3em;
            border: none;
            background-color: whitesmoke;
            box-shadow: 0px 1px 3px 1px #a3a3a365;
            margin-top: 30px;
            margin-left: 1em;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &_button:hover {
            transform: scale(1.06) rotate(180deg);
            box-shadow: none;
        }
        &_clearbutton {
            box-shadow: 0px 1px 3px 1px #a3a3a365;
            background-image: url('../../Assets/Images/reset_blue.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border-radius: 50%;
            width: 2.6em;
            height: 2.6em;
            border: none;
            background-color: transparent;
            margin-top: 32px;
            margin-left: .5em;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &_clearbutton:hover {
            transform: scale(1.06) rotate(180deg);
            box-shadow: none;
        }
        &_map {
            height: 67vh;
        }
        &_input {
            font-size: 15px;
            padding: 10px 30px 10px 30px;
            margin-top: 24px;
            width: 20em;
            height: 3.5em;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            border: none;
            border-radius: 16px;
            box-shadow: 2px 2px 3px 1px #a3a3a365;
            margin-left: 1em;
        }
        &_input:focus {
            outline-color: #5a9ef7;
        }
    }
}
@include tablet {
    .map-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80vw;
        &_button {
            background-image: url('../../Assets/Images/currentLocation.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border-radius: 50%;
            width: 3em;
            height: 3em;
            border: none;
            background-color: whitesmoke;
            box-shadow: 0px 1px 3px 1px #a3a3a365;
            margin-top: 30px;
            margin-left: 1em;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &_button:hover {
            transform: scale(1.06) rotate(180deg);
            box-shadow: none;
        }
        &_clearbutton {
            box-shadow: 0px 1px 3px 1px #a3a3a365;
            background-image: url('../../Assets/Images/reset_blue.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border-radius: 50%;
            width: 2.6em;
            height: 2.6em;
            border: none;
            background-color: transparent;
            margin-top: 32px;
            margin-left: .5em;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &_clearbutton:hover {
            transform: scale(1.06) rotate(180deg);
            box-shadow: none;
        }
        &_map {
            height: 40vh;
        }
        &_input {
            font-size: 15px;
            padding: 10px 30px 10px 30px;
            margin-top: 24px;
            width: 20em;
            height: 3.5em;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            border: none;
            border-radius: 16px;
            box-shadow: 2px 2px 3px 1px #a3a3a365;
            margin-left: 1em;
        }
        &_input:focus {
            outline-color: #5a9ef7;
        }
    }
}
@include tabletToMobile {
    .map-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60vw;
        &_button {
            background-image: url('../../Assets/Images/currentLocation.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border-radius: 50%;
            width: 3em;
            height: 3em;
            border: none;
            background-color: whitesmoke;
            box-shadow: 0px 1px 3px 1px #a3a3a365;
            margin-top: 30px;
            margin-left: 1em;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &_button:hover {
            transform: scale(1.06) rotate(180deg);
            box-shadow: none;
        }
        &_clearbutton {
            box-shadow: 0px 1px 3px 1px #a3a3a365;
            background-image: url('../../Assets/Images/reset_blue.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border-radius: 50%;
            width: 2.6em;
            height: 2.6em;
            border: none;
            background-color: transparent;
            margin-top: 32px;
            margin-left: .5em;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &_clearbutton:hover {
            transform: scale(1.06) rotate(180deg);
            box-shadow: none;
        }
        &_map {
            height: 67vh;
        }
        &_input {
            font-size: 15px;
            padding: 10px 30px 10px 30px;
            margin-top: 24px;
            width: 20em;
            height: 3.5em;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            border: none;
            border-radius: 16px;
            box-shadow: 2px 2px 3px 1px #a3a3a365;
            margin-left: 1em;
        }
        &_input:focus {
            outline-color: #5a9ef7;
        }
    }
}
@include mobile {
    .map-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80vw;
        &_button {
            background-image: url('../../Assets/Images/currentLocation.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border-radius: 50%;
            width: 2.1em;
            height: 2.1em;
            border: none;
            background-color: whitesmoke;
            box-shadow: 0px 1px 3px 1px #a3a3a365;
            margin-top: 8px;
            margin-left: .3em;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &_button:hover {
            transform: scale(1.06) rotate(180deg);
            box-shadow: none;
        }
        &_clearbutton {
            box-shadow: 0px 1px 3px 1px #a3a3a365;
            background-image: url('../../Assets/Images/reset_blue.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border-radius: 50%;
            width: 1.7em;
            height: 1.7em;
            border: none;
            background-color: transparent;
            margin-top: 11px;
            margin-left: .1em;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &_clearbutton:hover {
            transform: scale(1.06) rotate(180deg);
            box-shadow: none;
        }
        &_map {
            height: 80vw;
        }
        &_input {
            border-radius: 10px;
            font-size: 12px;
            padding: 10px 20px 10px 20px;
            margin-top: 5px;
            width: 80%;
            height: 3em;
            border: none;
            box-shadow: 2px 2px 3px 1px #a3a3a365;
            // margin-left: -105px;
        }
        &_input:focus {
            outline-color: #5a9ef7;
        }
    }
    .pac-card {
        margin: 10px 10px 0 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
    }
    .pac-container{
        background-color: #fff;
        box-shadow: 0 2px 2px rgba(59, 59, 59, 0.3);
        font-family: 'GmarketSansMedium';
        font-size: 10px;
        position: absolute;
        margin-top: 5px;
        top: 10px;
        width: 80%;
        border-radius: 16px;
        padding: 0 9px;
        padding-bottom: 5px;
    }
    .pac-item{
        text-align: left;
        padding: 11px 10px;
    }
    .pac-icon img{
        padding: 10px;
    }
}
//모바일 버전, 맵 가로는 더 길게, 가른 ㄴ꽉차게
