.map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    &_button {
        background-image: url('../../Assets/Images/currentLocation.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 50%;
        width: 3em;
        height: 3em;
        border: none;
        background-color: whitesmoke;
        box-shadow: 0px 1px 3px 1px #a3a3a365;
        margin-top: 30px;
        margin-left: 1em;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    &_button:hover {
        transform: scale(1.06) rotate(180deg);
        box-shadow: none;
    }
    &_clearbutton {
        box-shadow: 0px 1px 3px 1px #a3a3a365;
        background-image: url('../../Assets/Images/reset_blue.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 50%;
        width: 2.6em;
        height: 2.6em;
        border: none;
        background-color: transparent;
        margin-top: 32px;
        margin-left: .5em;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    &_clearbutton:hover {
        transform: scale(1.06) rotate(180deg);
        box-shadow: none;
    }
    &_map {
        height: 67vh;
    }
    &_input {
        font-size: 15px;
        padding: 10px 30px 10px 30px;
        margin-top: 24px;
        width: 20em;
        height: 3.5em;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border: none;
        border-radius: 16px;
        box-shadow: 2px 2px 3px 1px #a3a3a365;
        margin-left: 1em;
    }
    &_input:focus {
        outline-color: #5a9ef7;
    }
}

//모바일 버전, 맵 가로는 더 길게, 가른 ㄴ꽉차게
