.map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &_button {
        background-image: url('../../Assets/Images/currentLocation.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 50%;
        width: 3em;
        height: 3em;
        border: none;
        background-color: whitesmoke;
        // box-shadow: 2px 2px 2px rgba(139, 139, 139, 0.479);
        margin-top: 10px;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    &_button:hover {
        transform: scale(1.06) rotate(180deg);
    }
    &_clearbutton {
        background-image: url('../../Assets/Images/reset_blue.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 50%;
        width: 3em;
        height: 3em;
        border: none;
        background-color: transparent;
        // box-shadow: 2px 2px 2px rgba(139, 139, 139, 0.479);
        margin-top: 10px;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    &_clearbutton:hover {
        transform: scale(1.06) rotate(180deg);
    }
    &_map {
        height: 60vh;
        width: 80%;
    }
    &__input {
        width: 3em;
        height: 3em;
    }
}
