@import '../Assets/Fonts/Gmarket.scss';


.Home {
    position: relative;
    font-family: 'GmarketSansMedium';
    height: 100%;
    width: 100%;
    background-image: url('../Assets/Background/pink_galaxy.jpg');
}