@import './mixin';

@include desktop {
    .BlackDiv {
        top: 0;
        right: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.486);
        z-index: 3;
    }
    .Sidebar {
        top: 0;
        right: 0;
        font-size: 16px;
        z-index: 1;
        position: fixed;
        background-color: #FFF;
        height: 100%;
        width: 40%;
        padding: 60px 60px;

        &__top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 25px;
        }

        &__top > img {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }

        &__top > img:hover {
            opacity: 80%;
        }

        &__hrDiv {
            width: 100%;
            background-color: rgb(218, 218, 218);
            height: 1px;
        }
        &__SignButtons {
            margin: 30px 0 50px 0;
            display: flex;
            justify-content: space-between;
            width: 175px;
            height: auto;
            flex-direction: row;
        }
        &__SecondButtDiv {
            position: relative;
            display: flex;
            flex-direction: row;
            width: auto;
            
            &__HomeDiv{
                margin-left: 2px;
                margin-right: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                &__Icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & .Round {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: #4082e63e;
                    }
                }
                & img {
                    position: absolute;
                    opacity: 0.6;
                    width: 40px;
                    height: 40px;
                }
                & span {
                    margin-top: 12px;
                    line-height: 30px;
                }
            }
            &__HomeDiv:hover {
                opacity: 1;
            }

            &__MyPageDiv{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;  
                &__Icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    & .MyPageRound {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: #4082e63e;
                    }
                    & img {
                        position: absolute;
                        opacity: 0.6;
                        top: -1.8px;
                        width: 42px;
                        height: 42px;
                    }
                }
                & .MyPageSpan {
                    margin-top: 12px;
                    line-height: 30px;
                }
            }
            &__MyPageDiv:hover {
                opacity: 1;
            }
            
        }
    }
    .FavoriteDiv {
        display: inline-flex;
        align-items: center;
        & img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }
    .ContactDiv {
        margin-top: 12px;
        display: inline-flex;
        align-items: center;
        & img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }
    .GitDiv {
        margin-top: 12px;
        display: inline-flex;
        align-items: center;
        & img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }
}
   
@include desktopToLaptop {
    .BlackDiv {
        top: 0;
        right: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.486);
        z-index: 3;
    }
    .Sidebar {
        top: 0;
        right: 0;
        font-size: 16px;
        z-index: 1;
        position: fixed;
        background-color: #FFF;
        height: 100%;
        width: 30%;
        padding: 60px 60px;

        &__top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 25px;
        }

        &__top > img {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }

        &__top > img:hover {
            opacity: 80%;
        }

        &__hrDiv {
            width: 100%;
            background-color: rgb(218, 218, 218);
            height: 1px;
        }
        &__SignButtons {
            margin: 30px 0 50px 0;
            display: flex;
            justify-content: space-between;
            width: 175px;
            height: auto;
            flex-direction: row;
        }
        &__SecondButtDiv {
            position: relative;
            display: flex;
            flex-direction: row;
            width: auto;
            
            &__HomeDiv{
                margin-left: 2px;
                margin-right: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                &__Icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & .Round {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: #4082e63e;
                    }
                }
                & img {
                    position: absolute;
                    opacity: 0.6;
                    width: 40px;
                    height: 40px;
                }
                & span {
                    margin-top: 12px;
                    line-height: 30px;
                }
            }
            &__HomeDiv:hover {
                opacity: 1;
            }

            &__MyPageDiv{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;  
                &__Icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    & .MyPageRound {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: #4082e63e;
                    }
                    & img {
                        position: absolute;
                        opacity: 0.6;
                        top: -1.8px;
                        width: 42px;
                        height: 42px;
                    }
                }
                & .MyPageSpan {
                    margin-top: 12px;
                    line-height: 30px;
                }
            }
            &__MyPageDiv:hover {
                opacity: 1;
            }
            
        }
    }
    .FavoriteDiv {
        display: inline-flex;
        align-items: center;
        & img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }
    .ContactDiv {
        margin-top: 12px;
        display: inline-flex;
        align-items: center;
        & img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }
    .GitDiv {
        margin-top: 12px;
        display: inline-flex;
        align-items: center;
        & img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }
}
@include laptop {
    .BlackDiv {
        top: 0;
        right: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.486);
        z-index: 3;
    }
    .Sidebar {
        top: 0;
        right: 0;
        font-size: 16px;
        z-index: 1;
        position: fixed;
        background-color: #FFF;
        height: 100%;
        width: 40%;
        padding: 60px 60px;

        &__top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 25px;
        }

        &__top > img {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }

        &__top > img:hover {
            opacity: 80%;
        }

        &__hrDiv {
            width: 100%;
            background-color: rgb(218, 218, 218);
            height: 1px;
        }
        &__SignButtons {
            margin: 30px 0 50px 0;
            display: flex;
            justify-content: space-between;
            width: 175px;
            height: auto;
            flex-direction: row;
        }
        &__SecondButtDiv {
            position: relative;
            display: flex;
            flex-direction: row;
            width: auto;
            
            &__HomeDiv{
                margin-left: 2px;
                margin-right: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                &__Icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & .Round {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: #4082e63e;
                    }
                }
                & img {
                    position: absolute;
                    opacity: 0.6;
                    width: 40px;
                    height: 40px;
                }
                & span {
                    margin-top: 12px;
                    line-height: 30px;
                }
            }
            &__HomeDiv:hover {
                opacity: 1;
            }

            &__MyPageDiv{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;  
                &__Icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    & .MyPageRound {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: #4082e63e;
                    }
                    & img {
                        position: absolute;
                        opacity: 0.6;
                        top: -1.8px;
                        width: 42px;
                        height: 42px;
                    }
                }
                & .MyPageSpan {
                    margin-top: 12px;
                    line-height: 30px;
                }
            }
            &__MyPageDiv:hover {
                opacity: 1;
            }
            
        }
    }
    .FavoriteDiv {
        display: inline-flex;
        align-items: center;
        & img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }
    .ContactDiv {
        margin-top: 12px;
        display: inline-flex;
        align-items: center;
        & img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }
    .GitDiv {
        margin-top: 12px;
        display: inline-flex;
        align-items: center;
        & img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }
}
@include laptopToTablet {
    .BlackDiv {
        top: 0;
        right: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.486);
        z-index: 3;
    }
    .Sidebar {
        top: 0;
        right: 0;
        font-size: 16px;
        z-index: 1;
        position: fixed;
        background-color: #FFF;
        height: 100%;
        width: 45%;
        padding: 60px 60px;

        &__top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 25px;
        }

        &__top > img {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }

        &__top > img:hover {
            opacity: 80%;
        }

        &__hrDiv {
            width: 100%;
            background-color: rgb(218, 218, 218);
            height: 1px;
        }
        &__SignButtons {
            margin: 30px 0 50px 0;
            display: flex;
            justify-content: space-between;
            width: 175px;
            height: auto;
            flex-direction: row;
        }
        &__SecondButtDiv {
            position: relative;
            display: flex;
            flex-direction: row;
            width: auto;
            
            &__HomeDiv{
                margin-left: 2px;
                margin-right: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                &__Icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & .Round {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: #4082e63e;
                    }
                }
                & img {
                    position: absolute;
                    opacity: 0.6;
                    width: 40px;
                    height: 40px;
                }
                & span {
                    margin-top: 12px;
                    line-height: 30px;
                }
            }
            &__HomeDiv:hover {
                opacity: 1;
            }

            &__MyPageDiv{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;  
                &__Icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    & .MyPageRound {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: #4082e63e;
                    }
                    & img {
                        position: absolute;
                        opacity: 0.6;
                        top: -1.8px;
                        width: 42px;
                        height: 42px;
                    }
                }
                & .MyPageSpan {
                    margin-top: 12px;
                    line-height: 30px;
                }
            }
            &__MyPageDiv:hover {
                opacity: 1;
            }
            
        }
    }
    .FavoriteDiv {
        display: inline-flex;
        align-items: center;
        & img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }
    .ContactDiv {
        margin-top: 12px;
        display: inline-flex;
        align-items: center;
        & img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }
    .GitDiv {
        margin-top: 12px;
        display: inline-flex;
        align-items: center;
        & img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }
}
@include tablet {
    .BlackDiv {
        top: 0;
        right: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.486);
        z-index: 2;
    }
    .Sidebar {
        top: 0;
        right: 0;
        font-size: 16px;
        z-index: 1;
        position: fixed;
        background-color: #FFF;
        height: 100%;
        width: 50%;
        padding: 60px 60px;

        &__top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 25px;
        }

        &__top > img {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }

        &__top > img:hover {
            opacity: 80%;
        }

        &__hrDiv {
            width: 100%;
            background-color: rgb(218, 218, 218);
            height: 1px;
        }
        &__SignButtons {
            margin: 30px 0 50px 0;
            display: flex;
            justify-content: space-between;
            width: 175px;
            height: auto;
            flex-direction: row;
        }
        &__SecondButtDiv {
            position: relative;
            display: flex;
            flex-direction: row;
            width: auto;
            
            &__HomeDiv{
                margin-left: 2px;
                margin-right: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                &__Icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & .Round {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: #4082e63e;
                    }
                }
                & img {
                    position: absolute;
                    opacity: 0.6;
                    width: 40px;
                    height: 40px;
                }
                & span {
                    margin-top: 12px;
                    line-height: 30px;
                }
            }
            &__HomeDiv:hover {
                opacity: 1;
            }

            &__MyPageDiv{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;  
                &__Icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    & .MyPageRound {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: #4082e63e;
                    }
                    & img {
                        position: absolute;
                        opacity: 0.6;
                        top: -1.8px;
                        width: 42px;
                        height: 42px;
                    }
                }
                & .MyPageSpan {
                    margin-top: 12px;
                    line-height: 30px;
                }
            }
            &__MyPageDiv:hover {
                opacity: 1;
            }
            
        }
    }
    .FavoriteDiv {
        display: inline-flex;
        align-items: center;
        & img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }
    .ContactDiv {
        margin-top: 12px;
        display: inline-flex;
        align-items: center;
        & img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }
    .GitDiv {
        margin-top: 12px;
        display: inline-flex;
        align-items: center;
        & img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }
}
@include tabletToMobile {
    .BlackDiv {
        top: 0;
        right: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.486);
        z-index: 2;
    }
    .Sidebar {
        top: 0;
        right: 0;
        font-size: 16px;
        z-index: 1;
        position: fixed;
        background-color: #FFF;
        height: 100%;
        width: 73%;
        padding: 60px 60px;

        &__top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 25px;
        }

        &__top > img {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }

        &__top > img:hover {
            opacity: 80%;
        }

        &__hrDiv {
            width: 100%;
            background-color: rgb(218, 218, 218);
            height: 1px;
        }
        &__SignButtons {
            margin: 30px 0 50px 0;
            display: flex;
            justify-content: space-between;
            width: 175px;
            height: auto;
            flex-direction: row;
        }
        &__SecondButtDiv {
            position: relative;
            display: flex;
            flex-direction: row;
            width: auto;
            
            &__HomeDiv{
                margin-left: 2px;
                margin-right: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                &__Icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & .Round {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: #4082e63e;
                    }
                }
                & img {
                    position: absolute;
                    opacity: 0.6;
                    width: 40px;
                    height: 40px;
                }
                & span {
                    margin-top: 12px;
                    line-height: 30px;
                }
            }
            &__HomeDiv:hover {
                opacity: 1;
            }

            &__MyPageDiv{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;  
                &__Icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    & .MyPageRound {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: #4082e63e;
                    }
                    & img {
                        position: absolute;
                        opacity: 0.6;
                        top: -1.8px;
                        width: 42px;
                        height: 42px;
                    }
                }
                & .MyPageSpan {
                    margin-top: 12px;
                    line-height: 30px;
                }
            }
            &__MyPageDiv:hover {
                opacity: 1;
            }
            
        }
    }
    .FavoriteDiv {
        display: inline-flex;
        align-items: center;
        & img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }
    .ContactDiv {
        margin-top: 12px;
        display: inline-flex;
        align-items: center;
        & img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }
    .GitDiv {
        margin-top: 12px;
        display: inline-flex;
        align-items: center;
        & img {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }
}
@include mobile {
        .Sidebar {
            top: 0;
            right: 0;
            font-size: 16px;
            z-index: 1;
            position: fixed;
            background-color: #FFF;
            height: 100%;
            width: 100%;
            padding: 68px 64px;
    
            &__top{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 25px;
            }
    
            &__top > img {
                width: 25px;
                height: 25px;
                cursor: pointer;
            }
    
            &__top > img:hover {
                opacity: 80%;
            }
    
            &__hrDiv {
                width: 100%;
                background-color: rgb(218, 218, 218);
                height: 1px;
            }
            &__SignButtons {
                margin: 30px 0 50px 0;
                display: flex;
                justify-content: space-between;
                width: 175px;
                height: auto;
                flex-direction: row;
            }
            &__SecondButtDiv {
                position: relative;
                display: flex;
                flex-direction: row;
                width: auto;
                
                &__HomeDiv{
                    margin-left: 2px;
                    margin-right: 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
                    &__Icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        & .Round {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            background-color: #4082e63e;
                        }
                    }
                    & img {
                        position: absolute;
                        opacity: 0.6;
                        width: 40px;
                        height: 40px;
                    }
                    & span {
                        margin-top: 12px;
                        line-height: 30px;
                    }
                }
                &__HomeDiv:hover {
                    opacity: 1;
                }

                &__MyPageDiv{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;  
                    &__Icon {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        & .MyPageRound {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            background-color: #4082e63e;
                        }
                        & img {
                            position: absolute;
                            opacity: 0.6;
                            top: -1.8px;
                            width: 42px;
                            height: 42px;
                        }
                    }
                    & .MyPageSpan {
                        margin-top: 12px;
                        line-height: 30px;
                    }
                }
                &__MyPageDiv:hover {
                    opacity: 1;
                }
                
            }
        }
        .FavoriteDiv {
            display: inline-flex;
            align-items: center;
            & img {
                margin-right: 12px;
                width: 24px;
                height: 24px;
            }
        }
        .ContactDiv {
            margin-top: 12px;
            display: inline-flex;
            align-items: center;
            & img {
                margin-right: 12px;
                width: 24px;
                height: 24px;
            }
        }
        .GitDiv {
            margin-top: 12px;
            display: inline-flex;
            align-items: center;
            & img {
                margin-right: 12px;
                width: 24px;
                height: 24px;
            }
        }
    
}